@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el efecto parallax */
.parallax-image {
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Optimización para el scroll suave */
html {
  scroll-behavior: smooth;
}

/* Mejora de rendimiento para animaciones */
* {
  box-sizing: border-box;
}